@charset "UTF-8";
@import url(null.css);
@import url(fonts.css);
@import url(stairways.css);
* {
  font-family: "Geometria", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo {
  height: 35px;
}

.logo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: block;
  background-color: #2c2c2c;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.title-large {
  font-size: 2.25rem;
  line-height: 1.2;
  text-align: center;
  font-weight: 700;
  position: relative;
}

.title-large::before {
  content: " ";
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: #2c2c2c;
}

.pt-150 {
  padding-top: 150px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.bg-grey {
  background-color: #f4f4f4;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-16 {
  font-size: 1.143rem;
}

.text-18 {
  font-size: 1.286rem;
}

.text-20 {
  font-size: 1.429rem;
}

.text-24-bold {
  font-size: 1.714rem;
  font-weight: 600;
}

.text-26-bold {
  font-size: 1.857rem;
  font-weight: 700;
}

.title-medium {
  font-size: 42px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .title-medium {
    font-size: 30px;
  }
}

.title-small {
  font-size: 36px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .title-small {
    font-size: 25px;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay._active {
  display: block;
}

.card-two {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-two__picture {
  margin-bottom: 15px;
  width: 260px;
  height: 195px;
}

.card-two__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-two__picture.square {
  width: 200px;
  height: 200px;
}

.card-two__picture.square img {
  -o-object-fit: contain;
     object-fit: contain;
}

.card-two__title {
  line-height: 1.3;
  font-weight: 500;
  font-size: 1.286rem;
  margin-bottom: 15px;
}

.card-two__description {
  line-height: 1.4;
  font-weight: 400;
}

.card-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  row-gap: 10px;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .card-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-three__picture {
  width: 40%;
}

.card-three__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card-three__picture {
    width: 100%;
  }
}

.card-three__info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 419px;
}

@media screen and (max-width: 768px) {
  .card-three__info {
    width: 100%;
    margin: 0 auto;
  }
}

.card-three__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .card-three__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}

.card-three__title-name {
  font-size: 1.857rem;
  font-weight: 500;
}

.card-three__title-advantages {
  color: #444444;
}

.card-three__description {
  font-size: 1.143rem;
  color: #444444;
}

.card-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-video__video {
  margin-bottom: 20px;
}

.card-video__title {
  margin-bottom: 25px;
  font-size: 1.286rem;
  font-weight: 500;
}

.card-video__description {
  line-height: 1.4;
  color: #444444;
}

.list-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-two__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 25px 0;
}

@media screen and (max-width: 576px) {
  .list-two__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}

.list-two__item-title {
  max-width: 200px;
  font-size: 1.286rem;
  font-weight: 500;
  padding-right: 5px;
}

.list-two__item-text {
  max-width: 300px;
  color: #444444;
}

.accordion-one__item {
  cursor: pointer;
  border-bottom: 2px solid black;
}

.accordion-one__item:first-child {
  border-top: 2px solid black;
}

.accordion-one__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-one__icon {
  max-width: 32px;
  max-height: 32px;
  background-color: #e4e4e4;
  border-radius: 50%;
  padding: 5px;
}

.accordion-one__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accordion-one__icon._active img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.accordion-one__title {
  padding: 30px 0;
  font-weight: 700;
  font-size: 1.714rem;
  line-height: 1.35;
}

.accordion-one__text {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  will-change: max-height;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  line-height: 1.55;
  font-size: 1.143rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.accordion-one__text._active {
  opacity: 1;
  padding-bottom: 30px;
}

.info-one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.info-one__banner {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-one__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-one__content {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
}

.info-one__content_text {
  color: #444444;
  line-height: 1.4;
  font-size: 1.143rem;
}

.info-one__content_picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .info-one__banner {
    width: 60%;
  }
  .info-one__content {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .info-one {
    row-gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-one__banner {
    width: 100%;
  }
  .info-one__content {
    width: 100%;
  }
}

.info-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-two__content {
  width: 70%;
}

.info-two__content_title {
  font-size: 4.143rem;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 40px;
}

.info-two__content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
}

.info-two__content_text-block {
  color: #444444;
  line-height: 1.4;
  font-size: 1.143rem;
}

.info-two__banner {
  width: 30%;
}

.info-two__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .info-two {
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-two__banner {
    width: 100%;
  }
  .info-two__banner img {
    max-height: 500px;
  }
  .info-two__content {
    width: 100%;
  }
  .info-two__content_title {
    font-size: 3.143rem;
  }
}

@media screen and (max-width: 576px) {
  .info-two__content_title {
    font-size: 2.143rem;
  }
  .info-two__content_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.info-three__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .info-three__content {
    row-gap: 60px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

.info-three__item {
  position: relative;
}

.info-three__item::before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 220px;
  font-weight: 700;
  color: #f4f4f4;
}

@media screen and (max-width: 1200px) {
  .info-three__item::before {
    font-size: calc( 120px + 100 * ((100vw - 576px) / (1200 - 576)));
  }
}

.info-three__item:first-child::before {
  content: "В";
}

.info-three__item:nth-child(2)::before {
  -webkit-transform: translateY(-50%) translateX(-15%);
          transform: translateY(-50%) translateX(-15%);
  content: "циф";
}

.info-three__item:nth-child(3)::before {
  -webkit-transform: translateY(-50%) translateX(-35%);
          transform: translateY(-50%) translateX(-35%);
  content: "рах";
}

.info-three__item_title {
  font-size: 93px;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .info-three__item_title {
    font-size: calc( 60px + 33 * ((100vw - 576px) / (1200 - 576)));
  }
}

.info-three__item_text {
  line-height: 1.4;
  color: #444444;
  font-size: 1.143rem;
  max-width: 260px;
}

@media screen and (max-width: 1440px) {
  .info-three__item:nth-child(2)::before {
    -webkit-transform: translateY(-50%) translateX(-20%);
            transform: translateY(-50%) translateX(-20%);
  }
  .info-three__item:nth-child(3)::before {
    -webkit-transform: translateY(-50%) translateX(-35%);
            transform: translateY(-50%) translateX(-35%);
  }
}

@media screen and (max-width: 768px) {
  .info-three__item:first-child {
    width: 100%;
  }
  .info-three__item:nth-child(2)::before {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  .info-three__item:nth-child(3)::before {
    -webkit-transform: translateY(-50%) translateX(0%);
            transform: translateY(-50%) translateX(0%);
  }
}

@media screen and (max-width: 576px) {
  .info-three__item:nth-child(2)::before {
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  .info-three__item:nth-child(3)::before {
    -webkit-transform: translateY(-50%) translateX(0%);
            transform: translateY(-50%) translateX(0%);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 576px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}

.header__info {
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .header__info {
    margin-right: calc( 10px + 20 * ((100vw - 768px) / (1200 - 768)));
  }
}

.header__info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info_logo {
  margin-right: 15px;
}

.header__info_text {
  max-width: 112px;
  font-size: 0.857rem;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header__list li {
  position: relative;
}

.menu-header__list li:hover .menu-header__sublist {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .menu-header__list {
    white-space: nowrap;
  }
}

.menu-header__sublist {
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
  background-color: white;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);
}

.menu-header__sublist li:not(:last-child) {
  margin-bottom: 20px;
}

.menu-header__sublist::before {
  content: "";
  padding-top: 38px;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 50%;
  background-image: url(../icons/caret_submenu.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
}

@media screen and (max-width: 1024px) {
  .menu-header__sublist {
    top: 80px;
  }
  .menu-header__sublist::before {
    padding-top: 68px;
  }
}

.menu-header__regular-link a {
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .menu-header__regular-link {
    display: none;
  }
}

.menu-header__image-link img {
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 1024px) {
  .menu-header__image-link img {
    display: none;
  }
}

.menu-header__bold-link a {
  font-size: 1.571rem;
}

.menu-header__sidebar-icon {
  display: none;
  width: 40px;
}

@media screen and (max-width: 1200px) {
  .menu-header__sidebar-icon {
    display: block;
  }
}

.header-mobile {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
  position: relative;
  position: fixed;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 40px;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .header-mobile {
    padding-right: calc( 30px + 30 * ((100vw - 576px) / (1200 - 576)));
  }
}

@media screen and (max-width: 1200px) {
  .header-mobile {
    padding-left: calc( 30px + 30 * ((100vw - 576px) / (1200 - 576)));
  }
}

@media screen and (max-width: 1200px) {
  .header-mobile {
    padding-top: calc( 35px + 15 * ((100vw - 576px) / (1200 - 576)));
  }
}

@media screen and (max-width: 1200px) {
  .header-mobile {
    padding-bottom: calc( 35px + 5 * ((100vw - 576px) / (1200 - 576)));
  }
}

.header-mobile._active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-mobile__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
}

@media screen and (max-width: 1200px) {
  .header-mobile__close {
    width: calc( 10px + 20 * ((100vw - 576px) / (1200 - 576)));
  }
}

.header-mobile__list li {
  margin-bottom: 20px;
}

.header-mobile__list li:hover .header-mobile__submenu {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-mobile__submenu {
  padding-top: 15px;
  display: none;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-mobile__submenu li a {
  font-size: 1.286rem;
  font-weight: 500;
}

.header-mobile__social {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.header-mobile__social img {
  height: 30px;
  width: 30px;
}

.header-mobile__item a {
  font-size: 43px;
}

@media screen and (max-width: 1200px) {
  .header-mobile__item a {
    font-size: calc( 30px + 13 * ((100vw - 576px) / (1200 - 576)));
  }
}

.menu-icon {
  padding: 10px;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon span {
  width: 50%;
  position: absolute;
  right: 0;
  height: 10%;
  background-color: #2c2c2c;
}

.menu-icon::before, .menu-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #2c2c2c;
}

.menu-icon::before, .menu-icon::after {
  content: "";
}

.menu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon._active span, .menu-icon._active::before, .menu-icon._active::after {
  visibility: hidden;
}

.mobile-close {
  padding: 10px;
}

.mobile-close:hover {
  cursor: pointer;
}

.mobile-close span {
  width: 50%;
  position: absolute;
  right: 0;
  height: 10%;
  background-color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.mobile-close::before, .mobile-close::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #2c2c2c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.mobile-close::before, .mobile-close::after {
  content: "";
}

.mobile-close span {
  top: 50%;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
}

.mobile-close::before {
  top: 0;
}

.mobile-close::after {
  bottom: 0;
}

.mobile-close span {
  top: 50%;
  -webkit-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
  background-color: white;
}

.mobile-close::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  background-color: white;
}

.mobile-close::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  background-color: white;
}

.banner {
  background-color: #f4f4f4;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

.banner__info, .banner__gallery {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .banner__info, .banner__gallery {
    width: 100%;
  }
}

.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .banner__info {
    margin: 10% 0;
  }
}

.banner__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__gallery_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  width: calc(33% - 10px);
}

.banner__gallery_item {
  height: 100%;
  width: 100%;
}

.banner__gallery_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.info-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.info-banner__title {
  font-size: 52px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .info-banner__title {
    font-size: calc( 37px + 15 * ((100vw - 768px) / (1200 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .info-banner__title {
    font-size: 2.25rem;
    max-width: 458px;
  }
}

.info-banner__text {
  font-size: 1.286rem;
}

.info-banner__btn {
  max-width: 300px;
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__title {
  text-align: center;
}

.catalog__card {
  margin-bottom: 40px;
}

.card-one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f4f4;
}

@media screen and (min-width: 769px) {
  .card-one.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 768px) {
  .card-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-one__info, .card-one__picture {
  width: 50%;
  height: 500px;
}

@media screen and (max-width: 768px) {
  .card-one__info, .card-one__picture {
    width: 100%;
    height: 100%;
  }
}

.card-one__info img, .card-one__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-one__info {
  padding: 80px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-one__info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

@media screen and (max-width: 576px) {
  .card-one__info_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 620px) {
  .card-one__picture {
    width: 100%;
    height: 100%;
  }
}

.card-one__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-one__name {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 20px;
}

.card-one__prop {
  margin-bottom: 40px;
}

.card-one__prop li {
  font-size: 1.143rem;
  font-weight: 500;
  color: #444444;
}

.card-one__prop li::before {
  content: "—";
}

.card-one__prop li:not(:last-child) {
  margin-bottom: 5px;
}

.card-one__more a {
  text-decoration: underline;
  font-size: 1.143rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .card-one__price {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.card-one__price span {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  padding: 55px 20px;
  font-weight: 500;
  white-space: nowrap;
}

.card-one__btn {
  margin-bottom: 0;
  margin-top: auto;
}

.banner-one {
  color: white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-one__overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-one__container {
  padding: 80px 30px;
  position: relative;
  z-index: 3;
}

.banner-one__title {
  margin-bottom: 15px;
}

.banner-one__title h4 {
  font-size: 58px;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .banner-one__title h4 {
    font-size: calc( 32px + 26 * ((100vw - 576px) / (1200 - 576)));
  }
}

.banner-one__description {
  margin-bottom: 40px;
}

.banner-one__description span {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .banner-one__description span {
    font-size: calc( 18px + 8 * ((100vw - 576px) / (1200 - 576)));
  }
}

.banner-one__form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 20px;
}

.banner-one__form div {
  height: 60px;
}

.banner-one__form input[type="text"] {
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 1.141rem;
  line-height: 1.33;
  padding-bottom: 18px;
  border-bottom: 1px solid white;
  width: 250px;
}

.banner-one__form input[type="submit"] {
  background-color: transparent;
  font-weight: 600;
  color: white;
  height: 100%;
  padding: 0 50px;
  border: 1px solid #ffffff;
}

.trees__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trees__catalog {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trees__item {
  padding: 15px;
  width: 350px;
}

.work__card {
  border-bottom: 2px solid black;
}

.work__card:first-child {
  border-top: 2px solid black;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  row-gap: 10px;
}

@media screen and (max-width: 768px) {
  .advantages__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages__picture {
  width: 40%;
}

.advantages__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .advantages__picture {
    width: 100%;
  }
}

.advantages__list {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .advantages__list {
    width: 100%;
  }
}

.videoview__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

@media screen and (max-width: 768px) {
  .videoview__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.videoview__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 70px;
}

.videoview__column:nth-child(2) {
  margin-top: 80px;
}

.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.feedback__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.feedback__column:first-child {
  margin-top: 40px;
}

.feedback__column:nth-child(2) {
  margin-top: 70px;
}

.banner-two {
  color: white;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-two__overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.banner-two__wrapper {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .banner-two__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.banner-two__info {
  max-width: 540px;
}

.banner-two__large-text {
  font-size: 2.571rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-two__small-text {
  line-height: 1.4;
}

.banner-two__btn a {
  white-space: nowrap;
  color: black;
  background-color: white;
  padding: 20px 55px;
  font-size: 1.143rem;
}

.about {
  padding-left: 10px;
  padding-right: 10px;
}

.about__info {
  margin-bottom: 80px;
}

.blog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item {
  max-width: 260px;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .blog__item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .blog__item .card-two__picture {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contacts__form {
  margin-top: 30px;
}

.contacts__item {
  margin-bottom: 10px;
}

.contacts__item a {
  font-size: 58px;
  font-weight: 500;
  line-height: 1.55;
}

@media screen and (max-width: 1200px) {
  .contacts__item a {
    font-size: calc( 30px + 28 * ((100vw - 576px) / (1200 - 576)));
  }
}

.contacts__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.contacts__social ul img {
  max-width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts-two__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contacts-two__item {
  margin-bottom: 15px;
}

.contacts-two__item a {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.55;
}

@media screen and (max-width: 1200px) {
  .contacts-two__item a {
    font-size: calc( 35px + 13 * ((100vw - 576px) / (1200 - 576)));
  }
}

.contacts-two__item.mail {
  color: #ff8562;
}

.contacts-two__social {
  margin-top: 20px;
}

.contacts-two__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-two__social ul img {
  max-width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts-three__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .contacts-three__container {
    row-gap: 20px;
  }
}

.contacts-three__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .contacts-three__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts-three__item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .contacts-three__item.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts-three__content {
  width: 50%;
  height: 700px;
}

@media screen and (max-width: 768px) {
  .contacts-three__content {
    width: 100%;
    height: 400px;
  }
}

.contacts-three__content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts-three__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  width: 50%;
  line-height: 1.55;
  row-gap: 30px;
}

@media screen and (max-width: 768px) {
  .contacts-three__info {
    width: 100%;
    padding: 20px 40px;
  }
}

.contacts-three__info .form-two__content_item._input {
  max-width: 100%;
}

.contacts-three__simple-input {
  width: 100%;
  background-color: inherit;
  padding: 15px 0;
  font-size: 1.143rem;
  border-bottom: 1px solid #2c2c2c;
}

.contacts-three__btn input[type="submit"] {
  margin: 20px 0;
  background-color: black;
  color: white;
  padding: 20px 55px;
  font-weight: 700;
}

.form-two {
  text-align: center;
}

.form-two__title {
  font-size: 2.571rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.form-two__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-two__content_item {
  font-size: 1.143rem;
  padding: 15px 0;
  max-width: 300px;
}

.form-two__content_item._input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  position: relative;
}

.form-two__content_item._input input {
  position: relative;
  background-color: transparent;
}

.form-two__content_item._input select {
  margin-right: 10px;
  width: 40px;
  height: 20px;
  background-color: inherit;
}

.form-two__content_item._input select option {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form-two__content_item._input > ._input-number::before {
  content: "+7";
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 1.143rem;
}

.form-two__content_item._btn {
  padding: 20px 85px;
  border: 1px solid black;
}

.form-two__content_item._btn input[type="submit"] {
  background-color: transparent;
  font-weight: 500;
}

.gallery-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.gallery-three__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 576px) {
  .gallery-three__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-three__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 576px) {
  .gallery-three__column {
    width: 100%;
  }
}

.gallery-three__column._grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.gallery-three__item {
  height: 100%;
}

.gallery-three__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-three__item.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-three__item.group img {
  width: calc((100% / 3) - 15px);
}

.footer {
  background-color: #2c2c2c;
  color: white;
  padding: 80px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  padding: 0 5px;
}

.footer__column nav ul li {
  margin-bottom: 15px;
}

.footer__column nav ul li a {
  font-weight: 500;
}

.banner-three {
  position: relative;
  padding-top: 220px;
  padding-bottom: 220px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-three__container {
  position: relative;
  z-index: 4;
}

@media screen and (max-width: 1200px) {
  .banner-three {
    padding-top: calc( 80px + 140 * ((100vw - 576px) / (1200 - 576)));
  }
}

@media screen and (max-width: 1200px) {
  .banner-three {
    padding-bottom: calc( 80px + 140 * ((100vw - 576px) / (1200 - 576)));
  }
}

.banner-three div {
  margin-bottom: 15px;
}

.banner-three__title h2 {
  font-size: 52px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .banner-three__title h2 {
    font-size: calc( 30px + 22 * ((100vw - 576px) / (1200 - 576)));
  }
}

.banner-three__text {
  font-size: 1.375rem;
}

.banner-three__btn {
  display: inline-block;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 20px 60px;
}

.info-four__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .info-four__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 20px;
  }
}

.info-four__gallery {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .info-four__gallery {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info-four__gallery-item {
  width: calc(50% - 40px);
}

.info-four__gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 576px) {
  .info-four__gallery-item {
    width: 100%;
  }
}

.info-four__text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .info-four__text {
    width: 100%;
  }
}

.info-five {
  text-align: center;
}

.info-five__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

.info-five__container div {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .info-five__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-five__container div {
    width: 100%;
  }
}

.info-five__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 15px;
  line-height: 1.5;
  text-align: left;
}

.info-five__text ul {
  padding-left: 15px;
}

.info-five__text ul li {
  list-style: disc;
  margin-bottom: 20px;
}

.info-five__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.info-five__gallery-item {
  max-height: 600px;
}

.info-five__gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-five__gallery-item.big-item {
  width: calc(100% - 15px);
}

@media screen and (max-width: 576px) {
  .info-five__gallery-item.big-item {
    width: 100%;
  }
}

.info-five__gallery-item.medium-item {
  width: calc(50% - 15px);
}

@media screen and (max-width: 576px) {
  .info-five__gallery-item.medium-item {
    width: 100%;
  }
}

.info-six__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-six__list-number {
  max-width: 800px;
}

.info-six__list-number span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: 700;
  margin-right: 5px;
}

.info-six__list-number ul li {
  margin-bottom: 20px;
}

.info-six__list-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  max-width: 800px;
}

.info-six__list-marker ul li {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 576px) {
  .info-six__list-marker {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-six__text {
  max-width: 800px;
}

.info-seven__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.25;
  -webkit-column-gap: 22px;
          column-gap: 22px;
}

@media screen and (max-width: 576px) {
  .info-seven__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.info-seven__title {
  width: 40%;
}

@media screen and (max-width: 576px) {
  .info-seven__title {
    width: 100%;
  }
}

.info-seven__text {
  width: 60%;
}

@media screen and (max-width: 576px) {
  .info-seven__text {
    width: 100%;
  }
}

.info-eight__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

@media screen and (max-width: 768px) {
  .info-eight__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-eight__text {
  width: 50%;
  line-height: 1.22;
}

@media screen and (max-width: 768px) {
  .info-eight__text {
    width: 100%;
  }
}

.info-eight__picture {
  width: 50%;
}

.info-eight__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .info-eight__picture {
    width: 100%;
  }
}

.gallery-four__container {
  text-align: center;
}

.gallery-four__container .title-medium {
  margin-bottom: 30px;
}

.gallery-four__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .gallery-four__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-four__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .gallery-four__item {
    width: 100%;
  }
}

.gallery-four__item.fullwidth .gallery-four__picture {
  width: 631px;
}

.gallery-four__item.fullwidth img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-four__item.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-four__item.grid .gallery-four__picture {
  width: 50%;
  height: 50%;
}

.gallery-four__item.grid .gallery-four__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 576px) {
  .gallery-four__item.grid .gallery-four__picture {
    height: 340px;
  }
}

.banner-four__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
}

.banner-four__info {
  max-width: 800px;
  font-weight: 500;
  line-height: 1.25;
  color: #878787;
}

.banner-four__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.techno-cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 80px;
}

.techno-cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 80px;
}

.card-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .card-four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-four__text {
  width: 50%;
  line-height: 1.5;
}

.card-four__text p {
  margin-top: 10px;
  max-width: 350px;
}

@media screen and (max-width: 768px) {
  .card-four__text {
    width: 100%;
  }
}

.card-four__picture {
  width: 50%;
}

.card-four__picture img {
  width: 100%;
  max-height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card-four__picture {
    width: 100%;
  }
}

.card-four.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .card-four.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-five__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.gallery-five__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-five__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-five__item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .gallery-five__item.reverse {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .gallery-five__item.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .gallery-five__item {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .gallery-five__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery-five__info {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

@media screen and (max-width: 576px) {
  .gallery-five__info {
    width: 100%;
    padding: 40px 0;
  }
}

.gallery-five__picture {
  position: relative;
  width: 50%;
}

.gallery-five__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-five__picture::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border: 20px solid transparent;
  border-left: 20px solid white;
}

@media screen and (max-width: 576px) {
  .gallery-five__picture::after {
    display: none;
  }
}

.gallery-five__picture.reverse::after {
  display: none;
}

.gallery-five__picture.reverse::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  border: 20px solid transparent;
  border-right: 20px solid white;
}

@media screen and (max-width: 576px) {
  .gallery-five__picture.reverse::before {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .gallery-five__picture {
    width: 100%;
  }
}

.techno-advantages {
  text-align: center;
}

.techno-advantages__container {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.techno-advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}

.techno-advantages__item {
  width: calc(33.333333% - 30px);
}

@media screen and (max-width: 768px) {
  .techno-advantages__item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 576px) {
  .techno-advantages__item {
    width: 100%;
  }
}

.card-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.card-five__info {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.929rem;
  border-bottom: 1px solid #9f9f9f;
}

.bread-nav {
  padding: 90px 0;
}

.bread-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  color: #444444;
}

.bread-nav__item:hover {
  opacity: .5;
  -webkit-transition: .2s;
  transition: .2s;
}
/*# sourceMappingURL=style.css.map */