@import url(null.css);
@import url(fonts.css);

//Adaptive Value
@mixin adaptiveValue($property, $startSize, $minSize, $widthFrom: $containerWidth, $widthTo: 320) {
    #{$property}: #{$startSize + px};
    $addSize: $startSize - $minSize;
    @media screen and (max-width: #{$containerWidth + px}) {
        #{$property}: calc(
            #{$minSize + px} + #{$addSize} * ((100vw - #{$widthTo + px}) / (#{$containerWidth} - #{$widthTo}))
        );
    }
}

//Colors
$black: #2c2c2c;
$fontBlack: #000000;
$listBlack: #444444;
$grey: #f4f4f4;

//Widths
$containerWidth: 1200;
$minWidth: 320;
$tabletWidth: 768;
$mobileWidth: 576;
$largeDesktop: 1440;
$smallDesktop: 1024;

//Basic styles

* {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

body {
    &._lock {
        overflow: hidden;
    }
}

.container {
    max-width: $containerWidth + px;
    // @include adaptiveValue("padding-right", 10, 10, $largeDesktop, $mobileWidth);
    // @include adaptiveValue("padding-left", 10, 10, $largeDesktop, $mobileWidth);
    padding: 0 30px;
    margin: 0 auto;
}

.logo {
    height: 35px;
    & img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.btn {
    display: block;
    background-color: $black;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.title-large {
    font-size: 2.25rem;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    position: relative;
    &::before {
        content: " ";
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 40px;
        height: 5px;
        background-color: $black;
    }
}

//Перекрытие контента
.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: black, $alpha: 0.5);
    &._active {
        display: block;
    }
}

//Карточки

.card-two {
    background-color: white;
    padding: 15px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__picture {
        width: 250px;
        height: 250px;
        margin-bottom: 15px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__title {
        line-height: 1.3;
        font-weight: 500;
        font-size: 1.286rem;
        margin-bottom: 15px;
    }

    &__description {
        line-height: 1.4;
        font-weight: 400;
    }
}

.card-three {
    display: flex;
    column-gap: 80px;
    row-gap: 10px;
    padding: 40px 0;
    @media screen and (max-width: #{$tabletWidth + px}) {
        flex-direction: column;
    }
    &__picture {
        width: 40%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (max-width: #{$tabletWidth + px}) {
            width: 100%;
        }
    }

    &__info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 419px;
        @media screen and (max-width: #{$tabletWidth + px}) {
            width: 100%;
            margin: 0 auto;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @media screen and (max-width: #{$tabletWidth + px}) {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
    }

    &__title-name {
        font-size: 1.857rem;
        font-weight: 500;
    }

    &__title-advantages {
        color: $listBlack;
    }

    &__description {
        font-size: 1.143rem;
        color: $listBlack;
    }
}

.card-video {
    display: flex;
    flex-direction: column;
    &__video {
        margin-bottom: 20px;
    }

    &__title {
        margin-bottom: 25px;
        font-size: 1.286rem;
        font-weight: 500;
    }

    &__description {
        line-height: 1.4;
        color: $listBlack;
    }
}

//Списки

.list-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__item {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid black;
        padding: 25px 0;
        @media screen and (max-width: #{$mobileWidth + px} ) {
            flex-direction: column;
            row-gap: 5px;
        }
    }

    &__item-title {
        max-width: 200px;
        font-size: 1.286rem;
        font-weight: 500;
        padding-right: 5px;
    }

    &__item-text {
        max-width: 300px;
        color: $listBlack;
    }
}

//Header

.header {
    //Ограничивающий контейнер шапки
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        @media screen and (max-width: #{$mobileWidth + px}) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;
        }
    }

    //Логотип и надпись
    &__info {
        @include adaptiveValue("margin-right", 30, 10, $containerWidth, $tabletWidth);
        & a {
            display: flex;
        }

        &_logo {
            margin-right: 15px;
        }

        &_text {
            max-width: 112px;
            font-size: 0.857rem;
        }
    }
}

.menu-header {
    // Стили основного списка
    &__list {
        display: flex;
        column-gap: 20px;
        row-gap: 5px;
        align-items: center;
        & li {
            position: relative;
        }
        & li:hover .menu-header__sublist {
            visibility: visible;
            opacity: 1;
        }
        @media screen and (min-width: #{$mobileWidth + px}) {
            white-space: nowrap;
        }
    }

    // Стили выпадающего списка
    &__sublist {
        visibility: hidden;
        opacity: 0;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 50px;
        width: 250px;
        background-color: white;
        text-align: center;
        transition: 0.2s;
        box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);
        & li:not(:last-child) {
            margin-bottom: 20px;
        }
        &::before {
            content: "";
            padding-top: 38px;
            width: 100%;
            height: 20px;
            position: absolute;
            top: 5px;
            left: 50%;
            background-image: url(../icons/caret_submenu.svg);
            background-repeat: no-repeat;
            background-position: center bottom;
            transform: translateX(-50%) translateY(-100%);
        }
        @media screen and (max-width: #{$smallDesktop + px}) {
            top: 80px;
            &::before {
                padding-top: 68px;
            }
        }
    }

    // Дополнительные стили для элементов списка меню
    &__regular-link {
        a {
            font-weight: 500;
        }
        @media screen and (max-width: #{$containerWidth + px}) {
            display: none;
        }
    }
    &__image-link {
        & img {
            height: 30px;
            width: 30px;
            @media screen and (max-width: #{$smallDesktop + px}) {
                display: none;
            }
        }
    }
    &__bold-link {
        a {
            font-size: 1.571rem;
        }
    }
    &__sidebar-icon {
        display: none;
        width: 40px;
        @media screen and (max-width: #{$containerWidth + px}) {
            display: block;
        }
    }
}

.header-mobile {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: relative;
    position: fixed;
    @include adaptiveValue("padding-right", 60, 30, $containerWidth, $mobileWidth);
    @include adaptiveValue("padding-left", 60, 30, $containerWidth, $mobileWidth);
    @include adaptiveValue("padding-top", 50, 35, $containerWidth, $mobileWidth);
    @include adaptiveValue("padding-bottom", 40, 35, $containerWidth, $mobileWidth);

    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transition: 0.5s;
    &._active {
        transform: translateX(0);
    }

    //Крестик закрытия
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        @include adaptiveValue("width", 30, 10, $containerWidth, $mobileWidth);
    }

    //Стили списка сайдбара
    &__list {
        & li {
            margin-bottom: 20px;
        }
        & li:hover .header-mobile__submenu {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    }
    &__submenu {
        padding-top: 15px;
        display: none;
        visibility: hidden;
        transition: 0.5s;
        & li a {
            font-size: 1.286rem;
            font-weight: 500;
        }
    }
    &__social {
        margin-top: auto;
        display: flex;
        column-gap: 10px;
        & img {
            height: 30px;
            width: 30px;
        }
    }

    &__item {
        & a {
            @include adaptiveValue("font-size", 43, 30, $containerWidth, $mobileWidth);
        }
    }
}

.menu-icon {
    padding: 10px;
    &:hover {
        cursor: pointer;
    }
    & span {
        width: 50%;
        position: absolute;
        right: 0;
        height: 10%;
        background-color: $black;
    }
    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: $black;
    }
    &::before,
    &::after {
        content: "";
    }
    & span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    &._active span,
    &._active::before,
    &._active::after {
        visibility: hidden;
    }
}
.mobile-close {
    padding: 10px;
    &:hover {
        cursor: pointer;
    }
    & span {
        width: 50%;
        position: absolute;
        right: 0;
        height: 10%;
        background-color: white;
        transition: all 0.5s ease 0s;
    }
    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: $black;
        transition: all 0.5s ease 0s;
    }
    &::before,
    &::after {
        content: "";
    }
    & span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    & span {
        top: 50%;
        transform: scale(0) translateY(-50%);
        background-color: rgb(255, 255, 255);
    }
    &::before {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
        background-color: rgb(255, 255, 255);
    }
    &::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
        background-color: rgb(255, 255, 255);
    }
}

//Баннер с галлереей
.banner {
    background-color: $grey;
    &__container {
        display: flex;
        align-items: center;
        @media screen and (max-width: #{$tabletWidth + px}) {
            flex-direction: column;
            text-align: left;
        }
    }

    &__info,
    &__gallery {
        width: 50%;
        @media screen and (max-width: #{$tabletWidth + px}) {
            width: 100%;
        }
    }

    &__info {
        display: flex;
        @media screen and (max-width: #{$tabletWidth + px}) {
            margin: 10% 0;
        }
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
        &_column {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: calc(33% - 10px);
        }
        &_item {
            height: 100%;
            width: 100%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
.info-banner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &__title {
        @include adaptiveValue("font-size", 52, 37, $containerWidth, $tabletWidth);
        font-weight: 700;
        @media screen and (max-width: #{$tabletWidth + px}) {
            font-size: 2.25rem;
            max-width: 458px;
        }
    }

    &__text {
        font-size: 1.286rem;
    }

    &__btn {
        max-width: 300px;
    }
}

//Каталог

.catalog {
    @include adaptiveValue("margin-top", 80, 60, $largeDesktop, $mobileWidth);
    margin-bottom: 80px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include adaptiveValue("margin-bottom", 40, 25, $largeDesktop, $mobileWidth);
        text-align: center;
    }

    &__card {
        margin-bottom: 40px;
    }
}

.card-catalog {
    width: 100%;
    &.reverse {
        @media screen and (min-width: #{$tabletWidth + 1 + px}) {
            flex-direction: row-reverse;
        }
    }
    display: flex;
    background-color: $grey;
    @media screen and (max-width: #{$tabletWidth + px}) {
        flex-direction: column;
    }
    //Основная структура карточки
    &__info,
    &__picture {
        width: 50%;
        @media screen and (max-width: #{$tabletWidth + px}) {
            width: 100%;
        }
    }

    &__info {
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        &_wrapper {
            display: flex;
            margin-bottom: 25px;
            @media screen and (max-width: #{$mobileWidth + px}) {
                flex-direction: column;
            }
        }
    }

    &__picture {
        height: 600px;
        @media screen and (max-width: 620px) {
            width: 100%;
            height: auto;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    //Содержание карточки

    // &__description {
    // }

    &__name {
        font-size: 1.625rem;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    &__prop {
        margin-bottom: 40px;
        & li {
            font-size: 1.143rem;
            font-weight: 500;
            color: $listBlack;
            &::before {
                content: "—";
            }
        }
        & li:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__more {
        & a {
            text-decoration: underline;
            font-size: 1.143rem;
            font-weight: 700;
        }
    }

    &__price {
        @media screen and (max-width: #{$tabletWidth + px}) {
            align-self: flex-end;
        }
        & span {
            display: inline-block;
            border: 1px solid black;
            border-radius: 50%;
            padding: 55px 20px;
            font-weight: 500;
            white-space: nowrap;
        }
    }

    &__btn {
        margin-bottom: 0;
        margin-top: auto;
    }
}

//Обратная связь

.callback {
    color: white;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &__container {
        padding: 80px 30px;
        position: relative;
        z-index: 3;
    }
    &__title {
        margin-bottom: 15px;
        & h4 {
            @include adaptiveValue("font-size", 58, 32, $largeDesktop, $mobileWidth);
            line-height: 1.2;
            font-weight: 700;
        }
    }
    &__description {
        margin-bottom: 40px;
        & span {
            @include adaptiveValue("font-size", 26, 18, $largeDesktop, $mobileWidth);
            line-height: 1.2;
            font-weight: 500;
        }
    }

    &__form {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 20px;
        & div {
            height: 60px;
        }
        & input[type="text"] {
            background-color: transparent;
            color: white;
            font-weight: 500;
            font-size: 1.141rem;
            line-height: 1.33;
            padding-bottom: 18px;
            border-bottom: 1px solid white;
            width: 250px;
        }
        & input[type="submit"] {
            background-color: transparent;
            font-weight: 600;
            color: white;
            height: 100%;
            padding: 0 50px;
            border: 1px solid #ffffff;
        }
    }
}

//Каталог древесины

.trees {
    background-color: $grey;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    &__catalog {
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    // &__item {
    // }
}

//Подход к работе

.work {
    padding-top: 150px;
    background-color: $grey;
    // &__container {
    // }

    &__title {
        margin-bottom: 100px;
    }

    // &__list {
    // }

    &__card {
        border-bottom: 2px solid black;
        &:first-child {
            border-top: 2px solid black;
        }
    }
}

//Почему выбирают нас

.advantages {
    background-color: $grey;
    padding-top: 150px;
    // &__container {
    // }

    &__title {
        margin-bottom: 100px;
    }

    &__wrapper {
        display: flex;
        column-gap: 80px;
        row-gap: 10px;
        @media screen and (max-width: #{$tabletWidth + px}) {
            flex-direction: column;
        }
    }

    &__picture {
        width: 40%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media screen and (max-width: #{$tabletWidth + px}) {
            width: 100%;
        }
    }

    &__list {
        width: 60%;
        @media screen and (max-width: #{$tabletWidth + px}) {
            width: 100%;
        }
    }
}

//Видео-обзор

.videoview {
    background-color: $grey;
    padding-top: 150px;
    // &__container {
    // }

    &__title {
        margin-bottom: 100px;
    }

    &__wrapper {
        display: flex;
        column-gap: 80px;
        @media screen and (max-width: #{$tabletWidth + px}) {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 70px;
        &:nth-child(2) {
            margin-top: 80px;
        }
    }

    //     &__card {
    //     }
}

//Отзывы

.feedback {
    background-color: $grey;
    padding-top: 150px;
    // &__container {
    // }

    &__title {
        margin-bottom: 100px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 60px;
        &:first-child {
            margin-top: 40px;
        }
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    // &__item {
    // }
}

//Баннер 2

.banner-two {
    color: white;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $grey;

    &__overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }
    // &__container {
    // }

    &__wrapper {
        padding: 80px 0;
        display: flex;
        column-gap: 30px;
        align-items: center;
        @media screen and (max-width: #{$smallDesktop + px}){
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__info {
        max-width: 540px;
    }

    &__large-text {
        font-size: 2.571rem;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__small-text {
        line-height: 1.40;
    }

    &__btn {
        & a {
            white-space: nowrap;
            color: black;
            background-color: white;
            padding: 20px 55px;
            font-size: 1.143rem;
        }
    }
}

//Faq

.faq {
    background-color: $grey;
    padding-top: 150px;
    &__container {
    }

    // .faq__title

    &__title {
        margin-bottom: 100px;
    }

    // .faq__wrapper

    &__wrapper {

    }

    // .faq__accordion

    &__accordion {
    }
}
.accordion-one {

    // .accordion-one__item

    &__item {
        cursor: pointer;
        border-bottom: 2px solid black;
        &:first-child{
            border-top: 2px solid black;
        }
    }


    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon{
        max-width: 32px;
        max-height: 32px;
        background-color: #e4e4e4;
        border-radius: 50%;
        padding: 5px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: rotate(0deg);
            transition: all .5s;
        }
        &._active{
            & img {
                transform: rotate(45deg);
                transition: all .5s;
            }
        }
    }

    // .accordion-one__title

    &__title {
        padding: 30px 0;
        font-weight: 700;
        font-size: 1.714rem;
        line-height: 1.35;
    }

    // .accordion-one__text

    &__text {
        opacity: 0;
        overflow: hidden;
        max-height: 0;
        will-change: max-height;
        transition: all .5s ease-out;
        line-height: 1.55;
        font-size: 1.143rem;
        box-sizing: content-box;
        &._active{
            opacity: 1;
            padding-bottom: 30px;
        }
    }
}
