@import url(null.css);
@import url(fonts.css);

//Adaptive Value
@mixin adaptiveValue($property, $startSize, $minSize, $widthFrom: $containerWidth, $widthTo: 320) {
    #{$property}: #{$startSize + px};
    $addSize: $startSize - $minSize;
    @media screen and (max-width: #{$containerWidth + px}) {
        #{$property}: calc(
            #{$minSize + px} + #{$addSize} * ((100vw - #{$widthTo + px}) / (#{$containerWidth} - #{$widthTo}))
        );
    }
}

//Colors
$black: #2c2c2c;
$fontBlack: #000000;
$listBlack: #444444;
$grey: #f2f2f2;

//Widths
$containerWidth: 1200;
$minWidth: 320;
$tabletWidth: 768;
$mobileWidth: 576;
$largeDesktop: 1440;
$smallDesktop: 1024;

//Basic styles

* {
    font-family: "Geometria", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.container {
    max-width: $containerWidth + px;
    padding: 10px;
    margin: 0 auto;
}

.logo {
    height: 35px;
    & img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

//Header

.header {
    //Ограничивающий контейнер шапки
    &__container {
        display: flex;
        align-items: center;
        padding: 25px 10px;
    }

    //Логотип и надпись
    &__info {
        @include adaptiveValue("margin-right", 30, 10, $containerWidth, $tabletWidth);
        display: flex;
        // .header__info_logo
        @media screen and (max-width: #{$containerWidth + px}) {
            flex-direction: column;
            &_logo {
                margin-right: 0;
                @include adaptiveValue("margin-bottom", 15, 5, $containerWidth, $tabletWidth);
            }
        }
        &_logo {
            margin-right: 15px;
        }

        // .header__info_text

        &_text {
            max-width: 112px;
            font-size: 0.857rem;
        }
    }
    &__menu {
    }
}

.menu-header {
    // Стили основного списка
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 5px;
        align-items: center;
        & li {
            position: relative;
        }
        & li:hover .menu-header__sublist {
            visibility: visible;
            opacity: 1;
        }
    }

    // Стили выпадающего списка
    &__sublist {
        visibility: hidden;
        opacity: 0;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 50px;
        width: 250px;
        background-color: white;
        text-align: center;
        transition: 0.2s;
        box-shadow: -1px -1px 8px 0px rgba(34, 60, 80, 0.2);
        & li:not(:last-child) {
            margin-bottom: 20px;
        }
        &::before {
            content: "";
            padding-top: 38px;
            width: 100%;
            height: 20px;
            position: absolute;
            top: 5px;
            left: 50%;
            background-image: url(../icons/caret_submenu.svg);
            background-repeat: no-repeat;
            background-position: center bottom;
            transform: translateX(-50%) translateY(-100%);
        }
    }

    // Дополнительные стили для элементов списка меню
    &__regular-link {
        a {
            font-weight: 500;
        }
    }
    &__image-link {
        & img {
            height: 30px;
            width: 30px;
        }
    }
    &__bold-link {
        a {
            font-size: 1.571rem;
        }
    }
}

//Баннер с галлереей
.banner {
    // .banner__container
    background-color: $grey;
    &__container {
        display: flex;
        align-items: center;
        padding: 0 15px;
    }

    // .banner__info

    &__info {
        display: flex;
        width: 50%;
    }

    // .banner__gallery

    &__gallery {
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
        width: 50%;
        &_column{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: calc(33% - 10px);
        }
        &_item{
            height: 100%;
            & img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
.info-banner {
    // .info-banner__title
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    &__title {
        font-size: 3.214rem;
        font-weight: 700;
    }

    // .info-banner__text

    &__text {
        font-size: 1.286rem;
    }

    // .info-banner__btn

    &__btn {
        width: 300px;
    }
}
.btn {
    display: block;
    background-color: $black;
    text-align: center;
    color: white;
    padding: 20px 0;
}
